@model IEnumerable<PharmacyVaccineInventory.Models.Appointment>

@{
    ViewData["Title"] = "List Of Appointments";
}

<h1>List Of Apppointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApptId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccinatorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccineId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApptDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApptId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApptDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
